.container{
	padding: 5rem;

}

.navbar-light .navbar-brand {
	color: white;
	font-size: x-large;
}

.titulo{
	color: rgb(103 187 255);

}

img{
	width: 100px;
	height: 100px;

}

h2{
	margin-top: 40px;
}

@media (max-width: 700px) {
	.navbar-light .navbar-brand {
		width: 100%;
		text-align: center;
	}
	.form-inline{
		width: 100%;
		text-align: center;
	}
  }
